@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #A1D6FF;
  background-image: url("loading-4.gif");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}
img{
  max-width: 100%;
}